:root {
    --main-color: #438d3d;
}

#project h1 {
    background: linear-gradient(90deg,
            #438d3d 0%,
            rgba(161, 198, 158, 0.7) 50%,
            rgba(208, 227, 207, 0.5) 75%,
            rgba(255, 255, 255, 0) 100%),
        url("../img/project/3.jpg");
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.5s ease-in-out;
}

#project h1:hover {
    background: linear-gradient(-90deg,
            #438d3d 0%,
            rgba(161, 198, 158, 0.7) 50%,
            rgba(208, 227, 207, 0.5) 75%,
            rgba(255, 255, 255, 0) 100%),
        url("../img/project/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.project-card {
    /* aspect-ratio: 1/1.15; */
    width: 21%;
    background-color: #438d3d;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.project-card img {
    transition: transform 0.5s ease;
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,
            rgba(104, 178, 99, 0.8),
            rgba(208, 227, 207, 0.7),
            rgba(255, 255, 255, 0));
    transition: left 0.5s ease-in-out;
    z-index: 2;
}

.project-card:hover::before {
    top: 0;
}

.project-card p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffff;
    font-weight: semibold;
    font-size: 15px;
    opacity: 0;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
}

.project-card:hover p {
    opacity: 1;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .project-card {
        width: 100%;
        gap: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    #project h1 {
        margin-bottom: 20px;
    }
}