:root {
  --main-color: #438d3d;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}

.nav-offcanvas li > a.active,
nav li > a.active {
  color: var(--main-color);
  font-weight: bold;
}

nav li > a {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
}

nav li > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  transition: width 0.3s ease-in-out;
}

nav li > a.active::after {
  width: 100%;
}

.nav-offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in 0ms, visibility 0ms 250ms;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  max-width: 100vw;
}

.nav-offcanvas.active {
  transition: opacity 250ms ease-in 100ms, visibility 0ms 100ms;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}

.nav-offcanvas ul li:first-child:after {
  content: "";
  display: block;
  height: 2px;
  width: 200px;
  background-color: var(--main-color);
  margin: 1rem 0;
}

.nav-offcanvas ul li:last-child::before {
  content: "";
  display: block;
  height: 2px;
  width: 200px;
  background-color: var(--main-color);
  margin: 1rem 0;
}

@media (max-width: 480px) {
  .text-nav-capt {
    display: none;
  }

  .img-abt {
    padding: 0px;
  }

  .text-about {
    text-align: justify;
  }

  .video-yt {
    height: 200px;
    width: 300px;
  }
}

section[id] {
  scroll-margin-top: 64px;
}

swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.progress-bar .progress {
  transition: width 250ms ease-in-out;
}

.hero-caption {
  opacity: 0;
  transition: 250ms all ease-in-out;
  transition-delay: 100ms;
}

.caption-testimony {
  width: 150px;
}

#home:hover .hero-caption {
  opacity: 1;
}

.text-about {
  margin-bottom: 20px;
}

.service-card {
  position: relative;
  aspect-ratio: 1/1.4;
  width: 40%;
}

@media (max-width: 768px) {
  #service {
    background-color: #ececec;
  }

  .service-card {
    width: 100%;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.service-card div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 250ms ease-in all;
  transition-delay: 100ms;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(67, 141, 61, 0.6) 60%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.service-card:hover div:nth-child(2) {
  opacity: 1;
}

#project h1 {
  background: linear-gradient(
      90deg,
      #438d3d 0%,
      rgba(161, 198, 158, 0.7) 50%,
      rgba(208, 227, 207, 0.5) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../img/project/Header.jpeg");
  background-position-y: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.5s ease-in-out;
}

#project h1:hover {
  background: linear-gradient(
      -90deg,
      #438d3d 0%,
      rgba(161, 198, 158, 0.7) 50%,
      rgba(208, 227, 207, 0.5) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../img/project/Header.jpeg");
}

.project-card {
  aspect-ratio: 1/1.15;
  width: 32%;
  background-color: #438d3d;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(104, 178, 99, 0.8),
    rgba(208, 227, 207, 0.7),
    rgba(255, 255, 255, 0)
  );
  transition: left 0.5s ease-in-out;
  z-index: 2;
}

.project-card:hover::before {
  left: 0;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .project-card {
    width: 100%;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.article-card {
  aspect-ratio: 1/1;
  min-width: 200px;
  width: 20%;
  flex-grow: 1;
  position: relative;
  --article-card-padding: 12px;
}

.article-card > p {
  max-height: 40%;
  height: 40%;
  background-color: #fff;
  color: var(--main-color);
  padding: var(--article-card-padding);
  padding-bottom: 15px;
  line-height: 1.4;
}

.article-card > p > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.article-card > p > button {
  color: white;
  background-color: var(--main-color);
  font-size: 13px;
  padding: 0 1rem;
  max-height: 50px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  transition: all 0.3s ease;
}

.article-card > p > button i {
  transition: transform 0.3s ease;
}

.article-card > p > button:hover i {
  transform: translateX(5px);
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: rgba(161, 198, 158, 0.7);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: var(--main-color);
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  opacity: 0.8;
}

/* .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
} */

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.contact-container > div > h3 {
  font-weight: 700;
}

.p-detail {
  margin-bottom: 20px;
}
